// SITCON ROLE and TOPIC
#image-group-title {
	position: absolute;
	top: 12%;
	left: 50%;
	width: 100%;
	transform: translateX(-50%);
	transform: translate3d(-50%, 0, 0);

	@include cellphone-rwd() {
		& {
			top: 15%;
			width: 110%;
		}
	}

	&.active {
		transition: transform $pageChangeDuration $timeQuartic;
	}

	#image-stone {
		display: block;
		width: 6%;
		margin: 0 auto 1.5em auto;
	}
	#image-topic {
		display: block;
		width: 48%;
		margin: 0 auto;
	}
	#image-topic-ch {
		display: block;
		width: 10%;
		margin: 0 auto;	
	}
	#image-character-blue {
		position: absolute;
		width: 25%;
		rigght: 76%;
		top: 0;
		transform: translateX(50%);
	}
	#image-character-red {
		position: absolute;
		width: 25%;
		left: 76%;
		top: 20%;
		transform: translateX(-30%);
	}
}

// ground grass
#page-home {
	z-index: 110;

	.grass {
		left: 4em;
		border-bottom-left-radius: 3em;
		border-top-left-radius: 3em;
	}
	.image-grass1 {
		left: 30%;
	}
	.image-grass2 {
		left: 60%;
	}
}

// ground bridge
#image-group-leftground {
	position: absolute;
	left: 7.5em;
	bottom: 0%;

	@include cover-groundobj-rwd();
	@include cellphone-rwd() {
		& {
			left: 5em;
		}
	}

	.image-bridge {
		position: absolute;
		bottom: 0;
		height: 5em;
		right: 0;
	}
	#image-tree1 {
		width: 5em;
		right: 0;
		transform: translateX(50%);
	}
	#image-tree2 {
		width: 4em;
		right: 0;
		bottom: .8em;
		transform: translateX(120%);
		@include cellphone-hidden-rwd();
	}
	#image-tree3 {
		width: 6em;
		right: 0;
		bottom: .8em;
		transform: translateX(150%);

		@include cellphone-hidden-rwd();
	}
}

// ground tree
.image-tree {
	position: absolute;
	bottom: 0;

	@include cover-groundobj-rwd();
}
#image-tree4 {
	width: 2.8em;
	right: 22%;
	@include cellphone-hidden-rwd();
}
#image-tree5 {
	width: 2em;
	right: 15%;
	@include cellphone-hidden-rwd();
}
#image-tree6 {
	width: 2.5em;
	right: 13%;
	@include cellphone-hidden-rwd();
}
#image-tree7 {
	width: 2.5em;
	right: 10%;
	@include cellphone-hidden-rwd();
}

#I-want-take-part {
	display: inline-block;
	position: absolute;
	font-size: 16pt;
	left: 50%;
	top: 55%;
	transform: translate(-50%, 0);
	transform: translate3d(-50%, 0, 0);
	padding: .6em 1em;
	background-color: $colorBallon;
	color: rgba(255,255,255,.8);
	border-radius: 3px;
	cursor: pointer;
	text-decoration: none;
	transition: background-color 1000ms $timeQuartic,
				color 1000ms $timeQuartic;
	&:hover {
		background-color: rgba(235, 107, 127, 0.6);
		color: white;
	}

	@include ipad-rwd() {
		font-size: 13pt;
		top: 60%;
	}
	@include cellphone-rwd() {
		font-size: 9pt;
	}
}

#guide-index-arrow {
	position: absolute;
	bottom: 5em;
	left: 50%;
	transform: translateX(-50%);
	transform: translate3d(-50%, 0, 0);

	@include ipad-rwd() {
		display: none;
	}

	p {
		color: $colorBallon;
		font-size: 16pt;
		text-align: center;
		font-weight: 900;
	}
	img {
		position: relative;
		left: 50%;
		height: 2em;
		transform: translate(-50%, 50%);
		animation-name: arrow-index;
		animation-duration: 1.5s;
		animation-timing-function: cubic-bezier(.45,.05,.55,.95);
		animation-iteration-count: infinite;

		@keyframes arrow-index {
			0%{ transform: translate(-50% , 30%); }
			50%{ transform: translate(-50% , 70%); }
			100%{ transform: translate(-50% , 30%); }
		}
	}
}
