#page-location {
	z-index: 140;

	.grass {
		right: 4em;
		border-bottom-right-radius: 3em;
		border-top-right-radius: 3em;
	}
	.image-grass1 {
		left: 65%;
	}
}

#image-group-rightground {
	position: absolute;
	bottom: 0;
	right: 7.5em;

	.image-bridge {
		position: absolute;
		bottom: 0;
		left: 0;
		height: 5em;
	}
}
