#footer {
	background-color: $colorUnderground;
	margin-top: 12em;
	padding: 8em 0 4em 0;
}

#staffs {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
	color: $colorUndergroundText;

	h1 {
		font-size: 3em;
		margin-bottom: 1em;
		text-align: center;
	}

	.group {
		position: relative;
		&:not(:first-child) {
			margin-top: 1.5em;
		}

		h2 {
			position: absolute;
			right: 100%;
			font-size: 1.1em;
			width: 1.1em;
		}

		$cardWidth: 80px;
		.staff-card {
			width: $cardWidth;
			height: $cardWidth * 150 / 107;
			display: inline-block;
			margin: 0 .5em 1.5em .5em;
			vertical-align: top;

			.photo-frame {
				border-radius: .5em;
				overflow: hidden;
				perspective: 1000;
				opacity: .6;
			}
			.staff-photo-container.unactive {
				transform: rotateY(180deg);
			}
			.staff-photo-container {
				position: relative;
				width: $cardWidth;
				height: $cardWidth;
				transform-origin: 50% 50%;
				transform: rotateY(0deg);
				transform-style: preserve-3d;
				transition: all 600ms $timeQuartic;
			}
			.staff-photo, .stone-photo {
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				backface-visibility: hidden;
			}
			.staff-photo {
				background-size: 100% 100%;
				background-size: cover;
				z-index: 2;
				transform: rotateY(0deg);
			}
			.stone-photo {
				background-color: #fff;
				background-image: url(image/stone.png);
				background-size: 60% auto;
				background-position: 50% 50%;
				transform: rotateY(180deg);
			}

			p {
				margin-top: 1em .5em 0 .5em;
				font-size: .95em;
				text-align: center;
			}
		}
	}
}

#copyright {
	margin-top: 8em;
	text-align: center;
	color: #333;
}
