#footer {
	background-color: $colorUnderground;
	margin-top: 12em;
	padding: 8em 0 4em 0;
}

#staffs {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
	color: $colorUndergroundText;

	h1 {
		font-size: 3em;
		margin-bottom: 1em;
		text-align: center;
	}

	.group {
		position: relative;
		&:not(:first-child) {
			margin-top: 1.5em;
		}

		h2 {
			position: absolute;
			right: 100%;
			font-size: 1.1em;
			width: 1.1em;
		}

		$cardWidth: 80px;
		.staff-card {
			width: $cardWidth;
			height: $cardWidth * 150 / 107;
			display: inline-block;
			margin: 0 .5em 1.5em .5em;
			vertical-align: top;

			.staff-photo {
				display: block;
				width: $cardWidth;
				height: $cardWidth;
				overflow: hidden;
				opacity: .9;
				border-radius: .5em;
				background-color: #fff;
				background-image: url(image/stone.png);
				background-repeat: no-repeat;
				background-size: 60% auto;
				background-position: 50% 50%;

				&.loaded {
					background-color: transparent;
					background-size: 100% 100%;
					background-size: cover;
				}
			}
			.staff-photo-loader {
				display: none;
			}

			p {
				margin-top: 1em .5em 0 .5em;
				font-size: .95em;
				text-align: center;
			}
		}
	}
}

#footer-sponsor {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto 8em auto;;
	color: $colorUndergroundText;

	h1 {
		font-size: 3em;
		margin-bottom: 1em;
		text-align: center;
	}

	.row {
		position: relative;
		& + .row {
			margin-top: 4em;
		}
		&::after {
			content: ' ';
			display: block;
			clear: both;
		}

		h2 {
			position: absolute;
			right: 101%;
			top: 50%;
			font-size: 1.1em;
			width: 1.1em;
			transform: translateY(-50%);
		}
		.col-left {
			width: 50%;
			float: left;
		}
		.col-right {
			width: 49%;
			float: right;
		}
		.sponsor {
			position: relative;

			.logo {
				width: 80%;
				background-color: rgba(255,255,255,.6);
				margin: 0 auto 1em auto;
				border-radius: 3px;
				transition: background-color 1000ms $timeQuartic;
				&.hover:hover {
					cursor: pointer;
					background-color: white;
				}

				img {
					width: 100%;
				}
			}
			.title {
				font-size: 1.2em;
				color: white;
				font-weight: 100;
				text-align: center;

				@include ipad-rwd() {
					font-size: .9em;
				}
			}
		}
	}
}

#copyright {
	margin-top: 8em;
	text-align: center;
	color: #333;
}
