#navbar {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 999;
	text-align: center;

	a {
		text-decoration: none;
		font-size: 2em;
	}

	.nav {
		display: inline-block;
		margin: 0 1em;
	}
}
