#navbar {
	position: absolute;
	top: 2em;
	left: 50%;
	width: 100%;
	transform: translateX(-50%);
	z-index: 999;
	text-align: center;

	@include ipad-rwd() {
		top: .8em;
	}

	a {
		color: $colorSkyDark;
		text-decoration: none;
		font-size: 1.5em;
		padding-bottom: .1em;

		@include ipad-rwd() {
			font-size: 1.2em;
		}
		@include cellphone-rwd() {
			font-size: 1em;
		}
	}
	a.active {
		border-bottom: 2px solid $colorSkyDark;
	}

	.nav {
		display: inline-block;
		margin: 0 1em;
	}
}
