#h-controller {
	position: relative;
	overflow: hidden;
}
#x-controller {
	position: relative;
	// variable define in partial/all
	transition: all $pageChangeDuration $timeQuartic;
}

.page-container {
	width: 100%;
}

// below is how change page work
#page-home {
	position: absolute;
	left: 0;
	top: 0;
}
#page-schedule {
	position: absolute;
	left: 100%;
	top: 0;
}
#page-sponsor {
	position: absolute;
	left: 200%;
	top: 0;
}
#page-location {
	position: absolute;
	left: 300%;
	top: 0;
}

.targetor {
	position: fixed;
	top: 0;
	left: 0;
}
#target-home:target ~ #x-controller {
	left: 0%;
}
#target-schedule:target ~ #x-controller {
	left: -100%;
}
#target-sponsor:target ~ #x-controller {
	left: -200%;
}
#target-location:target ~ #x-controller {
	left: -300%;
}
