
$color_water: #1799c6;
$color_grass: #a4e070;
$color_sky: #c2e9ff;
$color_red: #f2576a;
$font_small: 1.28em;
$font_middle: 2.13em;
$timeFunc: cubic-bezier(.16 , .84 , .44 , 1);
	/*
$cloud1_top: 3%;
$cloud1_left: 17%;
$cloud2_top: 30%;
$cloud2_left: 10%;
$cloud3_top: 20%;
$cloud3_left: 25%;
$cloud4_top: 13%;
$cloud4_left: 70%;
$cloud5_top: 56%;
$cloud5_left: 77%;
$cloud6_top: 71%;
$cloud6_left: 67%;
*/
$cloud_top: 3%,30%,20%,13%,56%,71%;
$cloud_left: 17%,10%,25%,70%,77%,67%;

*{
	margin: 0px;
	padding: 0;
	font-family: "Open Sans","Helvetica","Microsoft JhengHei","PT Sans Narrow","Source Han Sans TWHK",sans-serif;
}
body,html{
	width: 100%;
	height: 100%;
	background-color: #c2e9ff;
}

#mainBg{
	position: absolute;
	width: 100%;
	z-index: 100;
	bottom: 0;
	left: 0;
}
#standBg{
	opacity: 0;
	width: 100%;
}

#mainPage{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	overflow-x: hidden;

	.cloud{
		position: absolute;
		z-index: 0;
	}

	.small{
		animation-name: cloud_small;
		width: 5%;
	}
	.middle{
		animation-name: cloud_middle;
		width: 7%;
	}
	.big{
		animation-name: cloud_big;
		width: 10%;
	}
	.opacity{
		opacity: 0.8;
	}
}

@for $i from 1 through 6{
	#cloud#{$i}{
		top: nth($cloud_top , $i);
		left: nth($cloud_left , $i);
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	#cloud#{$i}_2{
		top: nth($cloud_top , $i);
		left: nth($cloud_left , $i) + 100%;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
}

#cloud1 , #cloud1_2{ animation-duration: 90s; }
#cloud2 , #cloud2_2{ animation-duration: 300s; }
#cloud3 , #cloud3_2{ animation-duration: 200s; }
#cloud4 , #cloud4_2{ animation-duration: 180s; }
#cloud5 , #cloud5_2{ animation-duration: 160s; }
#cloud6 , #cloud6_2{ animation-duration: 100s; }

@keyframes cloud_small{
	0%{ transform: translateX(0%); }
	100%{ transform: translateX(-2000%); }
}
@keyframes cloud_middle{
	0%{ transform: translateX(0%); }
	100%{ transform: translateX(-10000%/7); }
}
@keyframes cloud_big{
	0%{ transform: translateX(0%); }
	100%{ transform: translateX(-1000%); }
}

#arrow{
	position: absolute;
	left: 50%;
	bottom: 1%;
	width: 10%;
	height: auto;
	transform: translate(-50% , -30%);
	animation-name: arrow;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-timing-function: cubic-bezier(.46 , .03 , .52 , .96);
	animation-iteration-count: infinite;
	z-index: 500;
}
#arrow.scrolled{
	animation-name: none;
	transition: transform 800ms $timeFunc;
	transform: translate(-50% , 200%);
	opacity: .8;
}

@keyframes arrow{
	0%{ transform: translate(-50% , -30%); }
	50%{ transform: translate(-50% , -70%); }
	100%{ transform: translate(-50% , -30%); }
}

#under_ground{
	position: absolute;
	z-index: 0;
	width: 100%;
	top: 100%;
	left: 0;

	.water{
		position: absolute;
		z-index: 0;
		width: 14.25%;
		height: 100%;
		background-color: $color_water;
	}
}
#grass{
	position: relative;
	z-index: 100;
	width: 72%;
	margin: 0 auto;
	border-radius: 5px;
	background-color: $color_grass;
	margin-top: -0.7%;

	padding: 10em 0 12em 0;
}

#about_us{
	h2{
		font-size: $font_middle;
		text-align: center;
		color: #333;
		word-spacing: .5em;
	}
	p{
		font-size: $font_small;
		line-height: 1.5em;
		width: 80%;
		max-width: 600px;
		margin: 0 auto;
		margin-top: 1em;
		text-align: center;
		text-align: justify;
		padding: 1em;
		color: #333;
		letter-spacing: .2em;
	}
}

#call_for{
	line-height: 1.5em;
	width: 80%;
	max-width: 600px;
	margin: 4em auto 0 auto;

	a{
		display: block;
		text-decoration: none;
		font-size: $font_small;
		background-color: $color_red;
		color: #FFD7D7;
		padding: 1.2em 3em;
		border: 0;
		border-radius: .3em;
		cursor: pointer;
		color: #eee;
		letter-spacing: .2em;
		text-align: center;
		transition: opacity 800ms $timeFunc;
		opacity: .8;

		span{
			display: block;
		}
		&:active{
			color: #FFD7D7;
		}
		&:hover{
			opacity: 1;
		}
		&.disabled{
			opacity: .8;
		}
	}
}

#CFP{ float: left; }
#CFS{ float: right; }

#left_water{ left: 0; }
#right_water{ right: 0; }

.wait_load{
	opacity: 0;
	transition: opacity 800ms $timeFunc;
	&.done_load{
		opacity: 1;
	}
}