$colorWater: #77BDE1;
$colorWaterDark: #000045;
$colorWaterText: #484848;
$colorSky: #C2E9FF;
$colorSkyDark: #0093ba;
$colorGrass: #A4E070;
$colorUnderground: #8a6f55;
$colorUndergroundText: #eee;

$sans-serif: 'Noto Sans', 'Microsoft JhengHei', 'PT Sans Narrow', 'Source Han Sans TWHK', sans-serif;
$serif: Arial;

$timeQuartic: cubic-bezier(.17, .84, .44, 1);

$pageChangeDuration: 2000ms;

* {
	margin: 0;
	padding: 0;
	font-family: $sans-serif;
}
html, body {
	position: relative;
	overflow-x: hidden;
	background-color: $colorWater;
}
.relative {
	position: relative;
}

@import url(https://fonts.googleapis.com/css?family=Oswald:700,300);
h1, #copyright {
	font-family: 'Oswald', $sans-serif;
}
