$colorWater: #77BDE1;
$colorWaterDark: #000045;
$colorWaterText: #484848;
$colorSky: #C2E9FF;
$colorSkyDark: #0093ba;
$colorGrass: #A4E070;
$colorUnderground: #41a2c9;
$colorUndergroundText: #eee;
$colorBallon: #eb6b7f;

$sans-serif: 'Noto Sans', 'Microsoft JhengHei', 'PT Sans Narrow', 'Source Han Sans TWHK', sans-serif;
$serif: Arial;

$timeQuartic: cubic-bezier(.17, .84, .44, 1);

$pageChangeDuration: 2000ms;

* {
	margin: 0;
	padding: 0;
	font-family: $sans-serif;
}
html, body {
	position: relative;
	overflow-x: hidden;
	background-color: $colorWater;
}
.relative {
	position: relative;
}
.data-storage {
	display: none;
}
.blur {
	filter: blur(3px);
	@media screen and (max-width: 500px) {
		filter: none;
	}
}
.clear {
	display: block;
	clear: both;
}

@import url(https://fonts.googleapis.com/css?family=Varela+Round);
h1, #copyright {
	font-family: 'Varela Round', $sans-serif;
}
