#fancybox {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;

	.content {
		position: relative;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: all 500ms $timeQuartic;
	}

	.xx {
		position: absolute;
		display: inline-block;
		font-size: .9em;
		right: -2em;
		top: 0;
		width: 2em;
		padding: .5em 0;
		text-align: center;
		cursor: pointer;
		background-color: #f2576a;
		color: white;
		font-family: 'Varela Round', $sans-serif;
		transition: all 500ms $timeQuartic;
		opacity: 0;
	}
}

/*
*	Below control the animation for opening fancybox
*/
$fancyboxDuration: 800ms;
#fancybox-forwardbox {
	z-index: 10;
	background-color: #5b5b5b;
	transition: all $fancyboxDuration $timeQuartic 0ms;
}
#fancybox-bg {
	z-index: 20;
	background-color: $colorWater;
	transition: all $fancyboxDuration $timeQuartic 200ms;
}
#fancybox-container {
	z-index: 30;
	background-color: rgba(255,255,255,.8);
	transition: all $fancyboxDuration $timeQuartic 400ms;
}

#fancybox-forwardbox,
#fancybox-bg,
#fancybox-container {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 50px;
	height: 50px;
	transform: translate(-50%, 1000px);
}
#fancybox-forwardbox.in,
#fancybox-bg.in,
#fancybox-container.in {
	transform: translate(-50%, -50%);
}
#fancybox-forwardbox.open,
#fancybox-bg.open {
	width: 100%;
	height: 100%;
}
#fancybox-container.open {
	width: 80%;
	height: 100%;
}
