@mixin cellphone-rwd() {
	@media screen and (max-width: 500px) {
		& { @content; }
	}
}
@mixin ipad-rwd() {
	@media screen and (max-width: 1000px) {
		& { @content; }
	}
}
@mixin cellphone-hidden-rwd() {
	@media screen and (max-width: 500px) {
		display: none;
	}
}

@mixin cover-height-rwd() {
	height: 900px;
	@media screen and (max-width: 1700px) {
		height: 800px;
	}
	@media screen and (max-width: 1400px) {
		height: 700px;
	}
	@media screen and (max-width: 1000px) {
		height: 500px;
	}
	@media screen and (max-width: 700px) {
		height: 400px;
	}
	@media screen and (max-width: 500px) {
		height: 350px;
	}
}

// left bridge and trees
@mixin cover-groundobj-rwd() {
	@media screen and (max-width: 1000px) {
		transform: scale(.5);
	}
}
@mixin cover-goundgrass-rwd() {
	@media screen and (max-width: 1000px) {
		height: 4em;
		bottom: -2em;
	}	
}
