.page-upground {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	@include cover-height-rwd();
}
.page-content {
	width: 80%;
	margin: 8em auto;
	color: $colorWaterText;

	@include cellphone-rwd() {
		width: 100%;
	}
}

article:not(:first-child) {
	margin-top: 4em;
}
h1:not(:first-child) {
	margin-top: 2em;
}
h1 {
	margin-bottom: 10px;
	font-size: 2em;
}
p {
	text-align: left;
	text-align: justify;
	line-height: 1.6em;
	font-size: 14pt;
}
