.page-upground {
	position: absolute;
	width: 80%;
	height: 70%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -55%);
}
.page-content {
	width: 80%;
	margin: 8em auto;
	color: $colorWaterDark;
}

article {
	margin-top: 4em;
}
h1:not(:first-child) {
	margin-top: 2em;
}
h1 {
	font-size: 2em;
}
p {
	text-align: left;
	text-align: justify;
}
