#page-home .page-content {
	max-width: 800px;
	font-size: 1.1em;
	padding: 5em;
	background-color: rgba(255, 255, 255, .5);
	border-radius: 1.5em;
	color: $colorWaterText;

	@include ipad-rwd() {
		& {
			padding: 2em;
		}
	}

	ul {
		margin-top: 1em;
		margin-bottom: 1em;
		padding-left: 2.5em;
	}

	p + p {
		margin-top: 1em;
	}

	.title-small-stone {
		position: absolute;
		font-size: 1em;
		height: 1em;
		top: 50%;
		left: -1.1em;
		transform: translateY(-50%);
		opacity: .9;

		@include ipad-rwd() {
			& {
				display: none;
			}
		}
	}
}

#CoC-image {
	position: absolute;
	width: 18em;
	right: -13em;
	top: 7em;

	@media screen and (max-width: 1140px) {
		display: none;
	}
}
