#location-map {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, .5);
	border-radius: 1em;
	transition: height 500ms $timeQuartic,
				width 800ms $timeQuartic;
}
#location-map.close {
	width: 2em;
	height: 2em;
}
#location-map.middle {
	height: 100%;
}
#location-map.open {
	width: 100%;
}
