#group-map {
	position: absolute;
	width: 80%;
	height: 70%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -55%);
	
	.location-address {
		display: none;
		position: absolute;
		z-index: 500;
		text-align: center;
		top: 80%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 12em;
		padding: 1em;
		border: 2px solid #5b5b5b;
		border-radius: .5em;
		background-color: rgba(255,255,255,.2);

		strong {
			display: block;
			font-size: 1.5em;
			color: #5b5b5b;
			font-family: 'Varela Round', $sans-serif;
		}
	}
}

#location-map {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, .5);
	border-radius: 1em;
	transition: height 500ms $timeQuartic,
				width 800ms $timeQuartic;
	border-radius: 1em;
	overflow: hidden;
}
#location-map.close {
	width: 2em;
	height: 2em;
}
#location-map.middle {
	height: 100%;
}
#location-map.open {
	width: 100%;
}
