.conf-time-table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	border: 0;

	th {
		font-size: 16pt;
		color: white;
	}
	td {
		border: 2px solid $colorWater;
		background-color: rgba(255,255,255,.6);
		text-align: center;
		color: #484848;
	}
	td.time {
		background-color: transparent;
		color: white;

		p {
			font-size: 16pt;
			text-align: center;
			font-family: 'Varela Round', $sans-serif;
		}
		small {
			font-size: 10pt;
		}
	}
	td.clickable {
		cursor: pointer;
		transition: background-color 1000ms $timeQuartic,;

		&:hover {
			background-color: rgba(255,255,255,.9);
		}
	}
	td.empty-slot {
		background-color: transparent;
	}
}

#fancybox-talk-detail {
	display: none;
	position: fixed;
	overflow-y: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;

	.bg {
		display: none;
		width: 100%;
		height: 100%;
		background-color: $colorWater;
		opacity: .8;
	}
	.container {
		position: absolute;
		display: block;
		width: 80%;
		max-width: 1000px;
		height: 100%;
		top: 0;
		left: 50%;
		background-color: white;
		transform: translate(-50%, 100%);
		transition: transform 800ms $timeQuartic;

		&.active {
			transform: translate(-50%, 0%);
		}
	}
}
#circleMask {
	display: none;
	position: absolute;
	z-index: 100;
	width: 1px;
	height: 1px;
	background-color: $colorWater;
	opacity: .8;
	transition: all 1500ms $timeQuartic;
	transform: translate(-50%, -50%) scale(0);
}
