.schedule-content {
	@include ipad-rwd() {
		width: 100%;
	}
}
#conference-time {
	position: relative;
	font-family: 'Varela Round', $sans-serif;
	width: 100%;

	h1 {
		text-align: center;
		margin-bottom: 1em;
	}
}
.conf-time-table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	border: 0;

	th {
		font-size: 16pt;
		color: white;

		section {
			font-size: .8em;
			display: block;
			padding-bottom: 1px;
		}
		.stand {
			display: inline-block;
			width: 2em;
			font-size: 1em;
			height: 1em;
		}
		a {
			display: inline-block;
			font-size: 1em;
			margin: .3em .3em 0;
			padding: 0 .3em;
			border-radius: 3px;
			font-weight: 100;
			text-decoration: none;
			background: $colorUnderground;
			color: rgba(255, 255, 255, 0.6);
			transition: all 500ms $timeQuartic;
			&:hover {
				background: rgba(255, 255, 255, 0.6);
				color: $colorUnderground;
			}
			@include ipad-rwd() {
				margin-left: .1em;
				margin-right: .1em;
			}
			@media screen and (max-width: 700px) {
				display: block;
				max-width: 4em;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
	td {
		border: 2px solid $colorWater;
		padding: .5em 0;
		text-align: center;
		color: #484848;
		background-color: rgba(255,255,255,.6);
		&.unconf {
			width: 10%;
			padding: 0;

			div:first-of-type {
				margin-bottom: .8em;
			}
		}

		.title {
			padding: 0 1em;
		}
		.speaker {
			padding: 0 1em;
			margin-top: 1em;
			color: #4d4c4d;
		}
		.photo {
			display: inline-block;
			width: 2em;
			height: 2em;
			border-radius: 1em;
			margin-right: .8em;
			vertical-align: middle;
			background-color: white;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-size: cover;
		}
		.unconfspeaker {
			color: gray;
		}
	}
	td.time {
		position: relative;
		background-color: transparent;
		color: white;

		p {
			font-size: 16pt;
			height: 1.5em;
			text-align: center;
		}
		p.time-stand {
			@include ipad-rwd() {
				height: 4em;
			}
			@include cellphone-rwd() {
				height: 6em;
			}
		}
		small {
			font-size: 10pt;
			opacity: .5;
		}
		.top {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	td.clickable {
		cursor: pointer;
		transition: background-color 1000ms $timeQuartic,;

		&:hover {
			background-color: rgba(255,255,255,.9);
		}
	}
	td.empty-slot {
		background-color: transparent;
	}
	.LT-intro {
		margin-top: .5em;
		&::after {
			content: ' ';
			display: block;
			clear: both;
		}
		.left {
			width: 49%;
			float: left;
			text-align: right;
		}
		.right {
			width: 50%;
			float: right;
			text-align: left;
		}
		@include cellphone-rwd() {
			.left, .right {
				width: 100%;
				float: none;
				text-align: center;
			}
		}
	}
}

.data-conf {
	padding: 6em 4em;
	max-width: 1000px;
	margin: 0 auto;
	&::after {
		content: ' ';
		display: block;
		clear: both;
	}
	@include cellphone-rwd() {
		padding: 6em 1em;
	}

	h1 {
		color: $colorWater;
	}
	h2 {
		color: $colorWater;
		text-align: center;
		padding-bottom: .3em;
		margin-bottom: 2em;
		border-bottom: 1px solid $colorWater;
	}
	a {
		color: #0093ba;
		text-decoration: none;
		cursor: pointer;

		&:hover {
			text-decoration: underline;;
		}
	}
	strong {
		display: block;
		font-size: 1.4em;
		margin-bottom: 1em;
		color: #333;

		small {
			display: block;
			font-size: .7em;
			color: gray;
		}
	}
	ul {
		padding-left: 2em;
	}
	.left {
		float: left;
		width: 20%;

		@include ipad-rwd() {
			float: none;
			width: 100%;
		}

		.photo {
			width: 200px;
			height: 200px;
			border-radius: 100px;
			background-color: #eee;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-size: cover;

			@include ipad-rwd() {
				display: block;
				margin: 0 auto 2em auto;
			}
		}
		a {
			display: block;
			font-size: 14pt;
			text-align: center;
			margin: 2em auto;
		}
	}
	.right {
		float: right;
		width: 70%;

		@include ipad-rwd() {
			float: none;
			width: 100%;
		}

		p {
			text-align: justify;
		}
	}
	.stand {
		height: 8em;
	}
	.middle {
		margin: 0 auto;
		width: 70%;

		@include ipad-rwd() {
			width: 100%;
		}

		p {
			text-align: justify;
		}	
	}
	p.li {
		position: relative;
		padding-left: 2em;

		&:first-of-type {
			padding-top: 1em;
		}
		&:last-of-type {
			padding-bottom: 1em;
		}
		&::before {
			content: ' ';
			display: block;
			position: absolute;
			height: .6em;
			width: .6em;
			border-radius: .5em;
			background-color: #333;
			top: 50%;
			left: 1em;
			transform: translateY(-50%);
		}
	}
}
#conf-map {
	position: relative;
	font-size: 2em;
	margin: 2em auto;
	width: 6em;
	padding: 0.5em 0.8em;
	background-color: rgba(255, 255, 255, 0.6);
	color: #484848;
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
	transition: background-color 1000ms cubic-bezier(0.17, 0.84, 0.44, 1);
	&:hover {
		background-color: rgba(255, 255, 255, 0.9);
	}
	.icon {
		font-size: 2em;
		display: inline-block;
		height: 1em;
		vertical-align: middle;
	}
}
.conf-map {
	width: 90%;
	max-width: 850px;
	margin: 0 auto;
	padding: 4em 0;

	h1 {
		color: $colorSkyDark;
		font-size: 2em;
		text-align: center;
	}
	img {
		width: 100%;
	}
}

.speaker-block {
	margin: .5em auto;
	text-align: center;	
}
#forum-slot {
	padding: .8em 0;
	.speaker {
		display: inline-block;
		margin: 0 1em;
	}
}
a.briefing-link {
	display: block;
	margin-top: 1em;
	height: 1.2em;
	line-height: 1.2em;
	color: #0093ba;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
