#group-events {
	position: absolute;
	top: 8em;
	left: 50%;
	transform: translateX(-50%);
	transform: translate3d(-50%,0,0);
	width: 80%;
	max-width: 1000px;

	h1 {
		text-align: center;
		color: $colorBallon;
	}

	@include ipad-rwd() {
		top: 4em;
	}
	@include cellphone-rwd() {
		width: 100%;
		top: 4em;

		h2 {
			font-size: 1em;
		}
	}

	&::after {
		content: ' ';
		display: block;
		clear: both;
	}

	.col {
		width: 100% * 1/3;
		vertical-align: top;
		float: left;
	}

	.event-container {
		width: 90%;
		padding: 1em 0;
		margin: 0 auto 1em auto;
		border-radius: 3px;
		cursor: pointer;
		background-color: rgba(255,255,255,.5);

		h2 {
			text-align: center;
			margin-bottom: .2em;
			font-weight: 300;
		}

		p {
			padding: 0 .8em;
			font-size: 1em;
		}
	}
}

#conf-guide-block {
	margin-top: 6em;

	@include ipad-rwd() {
		display: none;
	}
}
#guide-arrow {
	position: relative;
	left: 50%;
	height: 3em;
	transform: translate(-50%, 50%);
	animation-name: arrow;
	animation-duration: 1.5s;
	animation-timing-function: cubic-bezier(.45,.05,.55,.95);
	animation-iteration-count: infinite;

	@include ipad-rwd() {
		display: none;
	}

	@keyframes arrow{
		0%{ transform: translate(-50% , 30%); }
		50%{ transform: translate(-50% , 70%); }
		100%{ transform: translate(-50% , 30%); }
	}
}

.data-event {
	display: block;
	max-width: 800px;
	margin: 4em auto;
	padding: 0 1em;

	* + p {
		font-size: 16pt;
		margin-top: 1em;
	}
	* + ol {
		font-size: 16pt;
		margin-top: 1em;
		padding-left: 2em;
	}
	* + li {
		padding-top: .3em;
	}
}
