#page-sponsor {
	@mixin cover-too-small() {
		@media screen and (max-width: 1400px) {
			& { @content; }
		}
	}

	.stand {
		display: block;
		width: 100%;
		height: 6em;

		@include cover-too-small() {
			height: 12em;
		}
		@include ipad-rwd() {
			height: 6em;
		}
		@include cellphone-rwd() {
			height: 3em;
		}
	}

	h2 {
		color: white;
		text-align: center;
		font-size: 18pt;
		margin-bottom: .5em;

		@include ipad-rwd() {
			font-size: 14pt;
		}
	}
	.host {
		position: absolute;
		width: 80%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		transform: translate3d(-50%, -50%, -50%);
		&::after {
			content: ' ';
			display: block;
			clear: both;
		}

		@include ipad-rwd() {
			width: 100%;
		}

		h2 {
			color: $colorBallon;
		}
		@include cellphone-rwd() {
			h2 {
				font-size: 11pt;
			}
			p.title {
				font-size: 8pt;
			}
		}
	}
	.page-content {
		@include ipad-rwd() {
			width: 90%;
		}
		@include cellphone-rwd() {
			.col-left, .col-right {
				width: 100%;
				float: none;
			}
			.sponsor + .sponsor {
				margin-top: 4em;
			}
		}

		.title {
			color: white;
		}
	}
	.row {
		width: 80%;
		max-width: 1000px;
		margin: 0 auto 2em auto;
		& + .row {
			margin-top: 8em;
		}
		&::after {
			content: ' ';
			display: block;
			clear: both;
		}

		@include ipad-rwd() {
			width: 100%;
		}
	}
	.sponsor-row {
		&::after {
			content: ' ';
			display: block;
			clear: both;
		}

		& + .sponsor-row {
			margin-top: 4em;
		}
	}

	.col-left {
		width: 49%;
		float: left;
	}
	.col-right {
		width: 50%;
		float: right;
	}
	.logo {
		width: 80%;
		margin: 0 auto;
		border-radius: 3px;
		background-color: rgba(255,255,255,.3);
		border-radius: 3px;
		transition: background-color 1000ms $timeQuartic;
		&.hover:hover {
			cursor: pointer;
			background-color: white;
		}

		img {
			width: 100%;
		}
	}
	.title {
		font-size: 1.2em;
		text-align: center;
		color: $colorSkyDark;
	}
	.intro {
		display: none;
	}
}

.data-sponsor {
	padding: 4em 1em;
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
	&::after {
		content: ' ';
		display: block;
		clear: both;
	}

	.left {
		width: 35%;
		float: left;
		@include ipad-rwd() {
			float: none;
			width: 60%;
			margin: 0 auto;
		}

		img {
			width: 100%;
		}
	}
	.right {
		width: 59%;
		float: right;
		h1 {
			color: $colorSkyDark;
			font-size: 2em;
		}
		@include ipad-rwd() {
			float: none;
			width: 100%;
		}
		p + p {
			margin-top: 1.6em;
		}
		.col-left, .col-right {
			display: inline-block;
			font-size: 14pt;
			line-height: 1.6em;
			margin-top: .5em;
		}
		.col-left {
			width: 20%;
			vertical-align: top;
		}
		.col-right {
			width: 78%;
		}
		ul {
			margin-top: 1.6em;
			padding-left: 2em;
		}
		li {
			font-size: 14pt;
			line-height: 1.6em;
			a {
				color: $colorSkyDark;
			}
		}
	}
}
#sponsor-content {
	p {
		text-align: left;
	}
}
